<%- include('header'); -%>

<main><div class="container-fluid">
        
    <form class="homepageform text-center" action="/" method="post" id="book"  >
        <h2>Book Us</h2>
        
        <div>
           
        <label for="name">
            
            <span>name</span>
       <input name="name" type="text" required placeholder="fullname">

        </label>
    </div>
    <div>  
        
        <label for="email">
            <span>email</span>
            <input name="email" required type="email" placeholder="email">
        </label>
        <div> 
        
        <label for="phonenumber">
            <span>Phone</span>
            <input type="tel" placeholder="phone number" name="phonenumber" required>
        </label>
       
        </div>
        <div>
            
        <label for="appointmenttype">
            <span>Appointment Type</span>
            <select name="appointmenttype" id="appointmenttype" onchange="testChange()"  required  >
                <!--    
                
                     <option >Glamnails</option>
                <option >Your Address</option>          
                
                -->


                <option value="Glamnails">Glamnails</option>

                <option value="YourPlace">Your Address</option>
                
                
                
               
                
                
               

                
                
                
                
            </select>

        </label>
    </div>
    <div> 
        
        <label for="address">
            <span>Address</span>
            <!--write code here,if glam nails, then the address should input glam address from placeholder that will be no edit-->
            <!--  -->
           <input name="address" id="address" type="text" placeholder="address"  required>
        </label>
    </div>
    <div> 
       
        <label>
            <span>Select date</span>
            <input class="date" type="date" name="date" required>
        </label>


    </div>

    <div> 
       
        <label>
            <span>Select time</span>
            <input class="time" type="time" name="time" required>
        </label>
    </div>


    <div> 
<button type="submit">Submit</button>

</div>
      


    </form>
</div></main>
<script defer>

    /*    testing idea */

   











    





    /*  testing idea */


   
   /*try this attempt of removing element and adding and see how it will turn out             */
     
    let apptype = document.getElementById('appointmenttype');

    apptype.addEventListener("change",testChange);
   
   function testChange(event){ 

    console.log('target',event.target);
    console.log('currentTarget',event.currentTarget);
    console.log('target value',event.target.value);
    console.log('currentTarget value',event.currentTarget.value);

   let add = document.getElementById('address');

 

   
        
    if(event.currentTarget.value==='Glamnails'){
          
        add.setAttribute("value","Glamms address");
        add.setAttribute("placeholder","GlamsAddress");
        add.setAttribute("readonly",true);
        
         
    }else if(event.currentTarget.value==='YourPlace'){
        add.removeAttribute("value");
        add.removeAttribute("placeholder");
        add.removeAttribute("readonly");
        add.setAttribute("placeholder","enter your address");

    }else{
    


    }

}




//




</script>


<%- include('footer'); -%>